<% include ./partials/header %>

<link rel="stylesheet" type="text/css" href="css/style.css" />

<h1>Hello And Welcome. Please Sign in</h1>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>